<h1>Lines</h1>

<ul>
  <% @lines.each do |line| %>
    <li><%= link_to "#{line.name}", line_path(line) %></li>
  <% end %>
</ul>

<%= render 'form' %>

<br>

<%=link_to "View/Add Stations", stations_path  %>
